# Data Exploration
#### Understanding the data better

In [4]:
# Importing the required libraries for the analysis

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# Reading the csv file and creating a dataframe object 
airbnb = pd.read_csv("airbnb_price.csv")

In [6]:
# Review the imported data (top and bottom data)
airbnb.head()

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,name,last_modified,latitude,longitude,location
0,10176931,1476,49180562,Shared room,NaN,Amsterdam,NaN,De Pijp / Rivierenbuurt,7,4.5,2,1.0,NaN,156.0,NaN,Red Light/ Canal view apartment (Shared),2017-07-23 13:06:27.391699,52.356209,4.887491,0101000020E610000033FAD170CA8C13403BC5AA41982D...
1,8935871,1476,46718394,Shared room,NaN,Amsterdam,NaN,Centrum West,45,4.5,4,1.0,NaN,126.0,NaN,Sunny and Cozy Living room in quite neighbours,2017-07-23 13:06:23.607187,52.378518,4.896120,0101000020E6100000842A357BA095134042791F477330...
2,14011697,1476,10346595,Shared room,NaN,Amsterdam,NaN,Watergraafsmeer,1,0.0,3,1.0,NaN,132.0,NaN,Amsterdam,2017-07-23 13:06:23.603546,52.338811,4.943592,0101000020E6100000A51133FB3CC613403543AA285E2B...
3,6137978,1476,8685430,Shared room,NaN,Amsterdam,NaN,Centrum West,7,5.0,4,1.0,NaN,121.0,NaN,Canal boat RIDE in Amsterdam,2017-07-23 13:06:22.689787,52.376319,4.890028,0101000020E6100000DF180280638F134085EE92382B30...
4,18630616,1476,70191803,Shared room,NaN,Amsterdam,NaN,De Baarsjes / Oud West,1,0.0,2,1.0,NaN,93.0,NaN,One room for rent in a three room appartment,2017-07-23 13:06:19.681469,52.370384,4.852873,0101000020E6100000CD902A8A57691340187B2FBE682F...

In [7]:
airbnb.tail()

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,name,last_modified,latitude,longitude,location
18718,17789893,1476,47501089,Private room,NaN,Amsterdam,NaN,Bijlmer Centrum,10,5.0,3,1.0,NaN,32.0,NaN,"1-3 pers. Cozy Rm AFAS Live, ArenA, ZIGGODOME",2017-07-22 16:05:14.158963,52.319794,4.955638,0101000020E6100000684293C492D2134080BA8102EF28...
18719,16877166,1476,67093870,Private room,NaN,Amsterdam,NaN,Bijlmer Centrum,6,5.0,4,1.0,NaN,24.0,NaN,"Modern Room by Arena, ZIGGO, HmH",2017-07-22 16:05:14.151986,52.319080,4.954822,0101000020E61000005801BEDBBCD1134062670A9DD728...
18720,19859427,1476,29724632,Private room,NaN,Amsterdam,NaN,Geuzenveld / Slotermeer,0,0.0,1,1.0,NaN,38.0,NaN,Private single room,2017-07-22 16:05:14.149610,52.384028,4.838403,0101000020E61000002079E750865A1340C85F5AD42731...
18721,17132164,1476,115156569,Private room,NaN,Amsterdam,NaN,Centrum West,13,4.5,2,1.0,NaN,36.0,NaN,City Center studio in Touristic Amsterdam 1,2017-07-22 16:05:14.146183,52.372120,4.890982,0101000020E6100000774CDD955D9013400118CFA0A12F...
18722,7605782,1476,39503013,Private room,NaN,Amsterdam,NaN,Centrum West,113,4.5,2,1.0,NaN,35.0,NaN,I have a room available for rent,2017-07-22 16:05:12.257054,52.381392,4.899658,0101000020E6100000CD565EF23F9913405F7AFB73D130...

In [8]:
# Check the Data Info
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18723 entries, 0 to 18722
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_id               18723 non-null  int64
 1   survey_id             18723 non-null  int64
 2   host_id               18723 non-null  int64
 3   room_type             18723 non-null  object
 4   country               0 non-null      float64
 5   city                  18723 non-null  object
 6   borough               0 non-null      float64
 7   neighborhood          18723 non-null  object
 8   reviews               18723 non-null  int64
 9   overall_satisfaction  18723 non-null  float64
 10  accommodates          18723 non-null  int64
 11  bedrooms              18723 non-null  float64
 12  bathrooms             0 non-null      float64
 13  price                 18723 non-null  float64
 14  minstay               0 non-null      float64
 15  name                  18671 non-null  object
 16  last_modified         18723 non-null  object
 17  latitude              18723 non-null  float64
 18  longitude             18723 non-null  float64
 19  location              18723 non-null  object
dtypes: float64(9), int64(5), object(6)
memory usage: 2.9+ MB

In [12]:
# Since columns country, borough, bathrooms and  minstay have no values in the them, removing them from the dataset. 
airbnb.drop(["country", "borough", "bathrooms", "minstay"],axis = 1, inplace  = True)

In [13]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18723 entries, 0 to 18722
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_id               18723 non-null  int64
 1   survey_id             18723 non-null  int64
 2   host_id               18723 non-null  int64
 3   room_type             18723 non-null  object
 4   city                  18723 non-null  object
 5   neighborhood          18723 non-null  object
 6   reviews               18723 non-null  int64
 7   overall_satisfaction  18723 non-null  float64
 8   accommodates          18723 non-null  int64
 9   bedrooms              18723 non-null  float64
 10  price                 18723 non-null  float64
 11  name                  18671 non-null  object
 12  last_modified         18723 non-null  object
 13  latitude              18723 non-null  float64
 14  longitude             18723 non-null  float64
 15  location              18723 non-null  object
dtypes: float64(5), int64(5), object(6)
memory usage: 2.3+ MB

In [15]:
# Describing the Dataset for overall summary, Selecting the relevant columns to desccribe from the entire dataset. 
airbnb[["reviews", "overall_satisfaction","accommodates","bedrooms", "price"]].describe()

,reviews,overall_satisfaction,accommodates,bedrooms,price
count,18723.000000,18723.000000,18723.000000,18723.000000,18723.000000
mean,16.741548,3.301127,2.922021,1.430380,166.599477
std,33.522630,2.213558,1.327524,0.879019,108.943849
min,0.000000,0.000000,1.000000,0.000000,12.000000
25%,2.000000,0.000000,2.000000,1.000000,108.000000
50%,6.000000,4.500000,2.000000,1.000000,144.000000
75%,17.000000,5.000000,4.000000,2.000000,192.000000
max,532.000000,5.000000,17.000000,10.000000,6000.000000

In [18]:
# What are the Various room types available (along with the count)
airbnb["room_type"].value_counts()

Entire home/apt    14978
Private room        3682
Shared room           63
Name: room_type, dtype: int64

In [27]:
# Dropping the "Shared room type" as the count in the data is very low compared to others. 
airbnb = airbnb[airbnb["room_type"] != "Shared room"]

In [29]:
# Analysing how popular each neaighbourhood is with respect to airbnb apartment number. 
# These nhumbers tells us what is the most common neighborhood or where are the most rooms situated. We can do multiple analysis
#around this including - prefered locality, corelation between location and rating and reviews, rent and occupancy  
airbnb["neighborhood"].value_counts()

De Baarsjes / Oud West                    3280
De Pijp / Rivierenbuurt                   2371
Centrum West                              2217
Centrum Oost                              1724
Westerpark                                1424
Noord-West / Noord-Midden                 1416
Oud Oost                                  1167
Bos en Lommer                              985
Oostelijk Havengebied / Indische Buurt     916
Watergraafsmeer                            515
Oud Noord                                  492
Ijburg / Eiland Zeeburg                    378
Slotervaart                                346
Buitenveldert / Zuidas                     248
Noord West                                 241
Noord Oost                                 221
Geuzenveld / Slotermeer                    192
Osdorp                                     161
De Aker / Nieuw Sloten                     114
Bijlmer Centrum                             98
Bijlmer Oost                                97
Gaasperdam / Driemond                       42
Westpoort                                   15
Name: neighborhood, dtype: int64

In [30]:
# Number of properties againt each review. 
# Number of reviews for each property
airbnb["reviews"].value_counts()

0      2975
1      1500
2      1238
3      1100
4       924
       ...
390       1
166       1
323       1
201       1
188       1
Name: reviews, Length: 283, dtype: int64

In [31]:
airbnb["overall_satisfaction"].value_counts()

5.0    7697
0.0    5721
4.5    4543
4.0     573
3.5     105
3.0      19
2.5       1
1.0       1
Name: overall_satisfaction, dtype: int64

In [32]:
#Finding those properties where overall_satisfaction is zero and exploring them
airbnb_0_satisfaction = airbnb[airbnb["overall_satisfaction"] == 0.0]

In [33]:
airbnb_0_satisfaction

,room_id,survey_id,host_id,room_type,city,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,name,last_modified,latitude,longitude,location
34,3119298,1476,15847782,Entire home/apt,Amsterdam,Westerpark,1,0.0,8,3.0,445.0,Modern 5-8 person apartment,2017-07-23 12:58:15.945759,52.377581,4.873119,0101000020E61000009D103AE8127E1340A54BFF925430...
36,10511291,1476,5421078,Entire home/apt,Amsterdam,Watergraafsmeer,1,0.0,8,3.0,1412.0,Whole house 200m2 Frankendael Park,2017-07-23 12:30:42.249974,52.350968,4.929821,0101000020E61000003B8908FF22B81340A5F8F884EC2C...
37,18047871,1476,9302267,Entire home/apt,Amsterdam,Centrum West,0,0.0,4,4.0,541.0,Great 4 bedroom apartment at the flower market,2017-07-23 12:30:27.637777,52.367890,4.889273,0101000020E6100000FDDCD0949D8E13404243FF04172F...
38,7468232,1476,7215538,Entire home/apt,Amsterdam,Noord-West / Noord-Midden,2,0.0,4,2.0,594.0,MuseumSquare apartment with garden,2017-07-23 12:30:27.627216,52.355169,4.883219,0101000020E6100000C4D2C08F6A881340C9C6832D762D...
40,5818567,1476,29561840,Entire home/apt,Amsterdam,De Aker / Nieuw Sloten,0,0.0,4,2.0,361.0,"Luxurous, modern, bright appartment",2017-07-23 12:29:20.728096,52.346007,4.811830,0101000020E61000008FA50F5D503F1340F29716F5492C...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18708,16411584,1476,83673574,Private room,Amsterdam,Oostelijk Havengebied / Indische Buurt,0,0.0,1,1.0,37.0,Single Room with double bed in Amsterdam east,2017-07-22 16:05:14.190492,52.362315,4.944151,0101000020E61000005AF10D85CFC61340D5EC8156602E...
18709,12886265,1476,50843183,Private room,Amsterdam,Noord-West / Noord-Midden,0,0.0,1,1.0,28.0,Small room - Amsterdam south,2017-07-22 16:05:14.187572,52.346610,4.846674,0101000020E6100000787E5182FE621340B83B6BB75D2C...
18714,19203256,1476,132265798,Private room,Amsterdam,Bijlmer Centrum,1,0.0,4,1.0,35.0,"NEW Stylish room, Ziggodome, AFAS LIVE, ArenA,...",2017-07-22 16:05:14.168799,52.320049,4.955609,0101000020E6100000950D6B2A8BD213400A0F9A5DF728...
18715,19734178,1476,139135665,Private room,Amsterdam,Osdorp,0,0.0,1,0.0,30.0,Cozy Apartment in Nieuw-West,2017-07-22 16:05:14.166410,52.356702,4.792346,0101000020E61000003677F4BF5C2B13407A354069A82D...
18720,19859427,1476,29724632,Private room,Amsterdam,Geuzenveld / Slotermeer,0,0.0,1,1.0,38.0,Private single room,2017-07-22 16:05:14.149610,52.384028,4.838403,0101000020E61000002079E750865A1340C85F5AD42731...

In [34]:
airbnb_0_satisfaction.describe()
# This is to further explore why the rating was not given? Are there any common characteristics in the property. Particular price range

,room_id,survey_id,host_id,reviews,overall_satisfaction,accommodates,bedrooms,price,latitude,longitude
count,5.721000e+03,5721.0,5.721000e+03,5721.000000,5721.0,5721.000000,5721.000000,5721.000000,5721.000000,5721.000000
mean,1.472219e+07,1476.0,4.674155e+07,0.700926,0.0,3.024821,1.554623,175.620696,52.364361,4.889534
std,5.209774e+06,0.0,4.424869e+07,0.814133,0.0,1.352056,0.949345,140.020220,0.015795,0.036742
min,2.542800e+04,1476.0,2.234000e+03,0.000000,0.0,1.000000,0.000000,22.000000,52.296200,4.771083
25%,1.150164e+07,1476.0,9.749992e+06,0.000000,0.0,2.000000,1.000000,114.000000,52.353951,4.862918
50%,1.643578e+07,1476.0,2.962380e+07,0.000000,0.0,2.000000,1.000000,150.000000,52.363567,4.886634
75%,1.917347e+07,1476.0,7.652614e+07,1.000000,0.0,4.000000,2.000000,209.000000,52.374183,4.909861
max,2.000373e+07,1476.0,1.418319e+08,5.000000,0.0,16.000000,10.000000,6000.000000,52.424980,5.013075

In [46]:
airbnb[["last_modified", "latitude","longitude"]].describe()

           latitude     longitude
count  18660.000000  18660.000000
mean      52.365261      4.888606
std        0.015141      0.034530
min       52.296200      4.763264
25%       52.355251      4.864372
50%       52.364624      4.885995
75%       52.374789      4.907502
max       52.424980      5.027689

In [47]:
airbnb_0_satisfaction[["last_modified", "latitude","longitude"]].describe()

          latitude    longitude
count  5721.000000  5721.000000
mean     52.364361     4.889534
std       0.015795     0.036742
min      52.296200     4.771083
25%      52.353951     4.862918
50%      52.363567     4.886634
75%      52.374183     4.909861
max      52.424980     5.013075

'2017-07-23 12:58:15.945759'

'2017-07-22 16:05:14.149610'

In [37]:
# Satisfaction Rating where a property can accomodate 3 people
airbnb[airbnb["accommodates"]==3]["overall_satisfaction"].value_counts()

5.0    621
0.0    483
4.5    411
4.0     56
3.5      8
3.0      4
Name: overall_satisfaction, dtype: int64

In [38]:
# Satisfaction Rating where bedroom is 2 
airbnb[airbnb["bedrooms"]==2]["overall_satisfaction"].value_counts()

5.0    1787
0.0    1487
4.5    1033
4.0     127
3.5      16
3.0       6
Name: overall_satisfaction, dtype: int64

In [41]:
# Satisfaction Rating Where price is between $150 & $180 (including both)
# Rating based on the price range
airbnb[(airbnb["price"]>= 150) & (airbnb["price"] <= 180)]["overall_satisfaction"].value_counts()

5.0    1634
0.0    1169
4.5     881
4.0     104
3.5      12
3.0       4
Name: overall_satisfaction, dtype: int64

In [62]:
# Based on above exploration, inserting overall satisfaction value of 4 where it is missing.
# Imputing the value 4 in overall satisfaction where the value is present as 0
airbnb["overall_satisfaction"].mask(airbnb["overall_satisfaction"] == 0.0, 4.0, inplace = True)

In [63]:
# Now we will look back at the overall satisfaction after imputing
airbnb["overall_satisfaction"].value_counts()

5.0    7697
4.0    6294
4.5    4543
3.5     105
3.0      19
2.5       1
1.0       1
Name: overall_satisfaction, dtype: int64

In [64]:
# Count of each accomodation value to understand where is the most availability.The properties with can accomodate 2 people are most available 
airbnb["accommodates"].value_counts()

2     9996
4     5563
3     1583
6      475
5      470
1      355
8      105
7       52
16      18
10      16
12       9
9        8
14       6
11       2
13       1
17       1
Name: accommodates, dtype: int64

In [65]:
# Most common price range for the properties. 
airbnb["price"].value_counts()

119.0    1023
180.0     999
144.0     886
150.0     621
132.0     587
         ...
435.0       1
339.0       1
337.0       1
369.0       1
28.0        1
Name: price, Length: 419, dtype: int64

In [66]:
airbnb.bedrooms.value_counts()/airbnb.bedrooms.count()

1.0     0.591533
2.0     0.238800
3.0     0.077385
0.0     0.061844
4.0     0.025348
5.0     0.003323
6.0     0.001018
10.0    0.000268
7.0     0.000214
8.0     0.000161
9.0     0.000107
Name: bedrooms, dtype: float64

In [7]:
# Proportion of each bedroom values in overall bedroom.

In [48]:
#Dropping the Data where the Bedroom number is equal to 0

In [ ]:
# Check the info again
# Describe the dataset again (Write your observation as well)
#Plot a histogram of reviews where bins are 20 and range is in between 0 to 100

In [49]:
#Plot a histogram of reviews where bins are 20 and range is in between 0 to 1000

In [50]:
# Plot a histogram of accomodates where the bins are 16

In [51]:
#Plot of a histrogram of overall satisfaction

In [52]:
# plot a histogram of overall satisfaction where price is greater than 100 and less than equal than 200

In [53]:
#plot a histogram of overall satisfaction where the price is less than 50

In [54]:
# Plot a histogram of overall satisfaction where the price is greater than 200

In [55]:
# Plot a histogram of overall satisfaction where the price is greater than 300

In [56]:
# is there a relationship between price and reviews (scatter chart)(positive/negative relation)

In [57]:
# relation between accomodation and price

In [58]:
# relation ship between price and overall satisfaction

In [59]:
#price and bedroom (reltionship)

In [60]:
# In which neighbourhood most of the accomodation is availble (plotting the count of neighbourhood)

In [61]:
# reove the data where the price is greater than 1500 (outlier)

In [ ]:
# Import scikit learn for linear regression
#create a X paramter (independent variable) by taking the column reviews, overall satisfaction , accomodates and bedroom
# creat a Y paramter by taking price
# split the data into test and train - 30% for testing 
# initialise and fit the linear regression.